*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.body{
    background-color: #243966;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.titulo{
    color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.search_bar{

    width: 600px;
    height: 40px;
    border: 2px solid #ffffff;

    display: flex;
    justify-content: center;
}

.search_bar input{
    width: 100%;
    border-radius: 15px;

}


.secciontareas{
    margin-right: 25px;
    margin-top: 50px;
}

.secciontareas i:hover {
    color: #ffffff;
    cursor: pointer;
}

.line-through{
    text-decoration: line-through;
    color: blue;
}

.secciontareas li{
    width: 100%;
    display: flex;
    align-items:center;
    gap: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    margin: 5px 0;


}
.secciontareas p {
    font-size: 25px;
    color: #000000;
}

